.navModalCont {
  position: fixed;
  .contactModalCont {
    right: 40px;
    top: 40vh;
    position: fixed;

    .contactModal {
      ul {
        list-style-type: none;
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        li {
          padding-top: 5%;
          padding-bottom: 5%;
          height: 20%;
          width: 100%;
          svg {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
