.fullpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  .number {
    font-size: 75rem;
    font-weight: 400;
    position: relative;
    left: -360px;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1199.99px) {
  .fullpage {
    .number {
      font-size: 55rem;
      left: -260px;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .fullpage {
    .number {
      font-size: 55rem;
      left: -260px;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .fullpage {
    .number {
      font-size: 55rem;
      left: -260px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .fullpage {
    .number {
      font-size: 40rem;
      left: -160px;
    }
  }
}

@media (max-width: 575.98px) {
  .fullpage {
    .number {
      font-size: 25rem;
      left: -120px;
    }
  }
}

@media (max-width: 450px) {
  .fullpage {
    .number {
      font-size: 20rem;
      left: -95px;
    }
  }
}

@media (max-height: 820px) and (orientation: landscape) {
  .fullpage {
    .number {
      font-size: 40rem;
      left: -210px;
    }
  }
}

@media (max-height: 650px) and (orientation: landscape) {
  .fullpage {
    .number {
      font-size: 30rem;
      left: -140px;
    }
  }
}

@media (max-height: 490px) and (orientation: landscape) {
  .fullpage {
    .number {
      font-size: 25rem;
      left: -120px;
    }
  }
}

@media (max-height: 410px) and (orientation: landscape) {
  .fullpage {
    .number {
      font-size: 20rem;
      left: -90px;
    }
  }
}

@media (max-height: 325px) and (orientation: landscape) {
  .fullpage {
    .number {
      font-size: 15rem;
      left: -70px;
    }
  }
}