@import "./colors.scss";

@import "../fonts/fonts.css";

html {
  font-family: "Raleway", Fallback, sans-serif;
  color: $white-text;
  background-color: $black-background;
  font-size: 100%;
  height: 100vh;
}

html,
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.tl-cover-el {
  background: url(../images/MIII3.png) !important;
  background-position: center !important;
  background-color: #0f1010 !important;
  background-repeat: no-repeat !important;
  overflow: hidden;
}
