@import "./colors.scss";

html {
  font-family: Raleway;
  background-color: $white-background;
  color: $black-text;
  .fullpage {
    width: 100vw;
    height: 100vh;
    position: relative;
    .number {
      font-size: 55rem;
      font-weight: 400;
      display: inline-block;
      position: absolute;
      left: -18rem;
      bottom: 20rem;
      line-height: 0rem;
    }
  }
  .text-50-50 {
    display: flex;
    flex-direction: row;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    div {
      flex: 1;
      h2 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 45px;
      }
    }
  }
  .big-img {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}
