.scrollToCont {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  width: 100px;
  margin-right: 1.5%;
  margin-bottom: 4%;
  opacity: 0;
}

@media (min-width: 1199.99px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .scrollToCont {
    width: 70px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .scrollToCont {
    width: 60px;
  }
}

@media (max-width: 575.98px) {
  .scrollToCont {
    width: 50px;
  }
}
