@import "./colors.scss";

.project-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  font-family: Raleway;
  background-color: #fff;
  color: $black-text;
}
